<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>LDML-Edit</title>
    <link rel="stylesheet" href="vendor_bower/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="vendor_bower/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="vendor_bower/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="assets/site.css" />
</head>
<body data-ng-app="ldmlEdit" ng-controller="MainCtrl">
	<div class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		<a class="navbar-brand" href="#">ldmlEdit</a>
		</div>
        <!-- Collect the nav links, forms, and other content for toggling 
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">File <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><input type="file" fileread="doFileOpen(aFile)" style="display:none" id="FileOpen"/><a href ng-click="onFileOpen()">Open...</a></li>
                <li><a href ng-click="onFileSaveAs()">SaveAs...</a></li>
              </ul>
            </li>
          </ul>
        </div>
        -->
	</div>
	</div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-1">
                <ul class="nav nav-tabs nav-stacked">
                    <li><a href="#/loadnsave">Load &amp; Save</a></li>
                    <li><a href="#/identity">identity</a></li>
                    <li><a href="#/characters">characters</a></li>
                    <li><a href="#/collation">collations</a></li>
                    <li><a href="#/dates">dates</a></li>
                    <li><a href="#/delimiters">delimiters</a></li>
                    <li><a href="#/displays">display names</a></li>
                    <li><a href="#/misc">miscellaneous</a></li>
                    <li><a href="#/numbers">numbers</a></li>
                    <li><a href="#/resources">resources</a></li>
                    <li><a href="#/segmentations">segmentations</a></li>
                </ul>
            </div>
            <div class="col-xs-11">
        	    <div class="container-fluid" data-ng-view>
            	</div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <small>Copyright 2014 SIL International. All rights reserved. Beta version 0.1</small>
        </div>
    </div>
    <script src="vendor_bower/jquery/dist/jquery.js"></script>
    <script src="vendor_bower/angular/angular.js"></script>
    <script src="vendor_bower/angular-route/angular-route.js"></script>
    <script src="vendor_bower/angular-resource/angular-resource.js"></script>
    <script src="vendor_bower/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js"></script>
    <script src="assets/js/FileSaver.js"></script>
    <script src="assets/js/ElementTree.js"></script>
    <script src="http://localhost:35729/livereload.js"></script>
    <!--  Add other scripts here -->
    <script src="app-ng/app.js"></script>
    <script src="app-ng/common/services.js"></script>
    <script src="app-ng/partials/identity.js"></script>
    <script src="app-ng/partials/characters.js"></script>
    <script src="app-ng/partials/collation.js"></script>
    <script src="app-ng/partials/dates.js"></script>
    <script src="app-ng/partials/delimiters.js"></script>
    <script src="app-ng/partials/displays.js"></script>
    <script src="app-ng/partials/misc.js"></script>
    <script src="app-ng/partials/numbers.js"></script>
    <script src="app-ng/partials/resources.js"></script>
    <script src="app-ng/partials/segmentations.js"></script>
</body>
</html>
