<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div data-ng-controller="PublicProjectsCtrl">
				<h2>Public Projects Created</h2>
				<svg class="chartPublic"></svg>
			</div>
		</div>
		<div class="col-md-4">
			<div data-ng-controller="PublicPieCtrl">
				<h2>Project Types</h2>
				<svg class="chartPublicPie"></svg>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div data-ng-controller="PrivateProjectsCtrl">
				<h2>Private Projects Created</h2>
				<svg class="chartPrivate"></svg>
			</div>
		</div>
		<div class="col-md-4">
			<div data-ng-controller="PrivatePieCtrl">
				<h2>Project Types</h2>
				<svg class="chartPrivatePie"></svg>
			</div>
		</div>
	</div>
</div>