<div>
    <div class="col-sm-7">
      <div>
          <button class="pull-right" ng-click="addBtn()"><i class="fa fa-plus"></i></button>
          <h2>Character Sets</h2>
          <form>
            <div class="form-group">
                <ul class="list-unstyled">
                    <li><strong><div class="col-sm-3">Type</div><div class="col-sm-8">Character Set</div></strong></li>
                    <div class="clearfix"></div>
                    <li ng-repeat="e in vm.exemplars">
                        <div class="col-sm-3">
                            <!-- combobox -->
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="e.type" id="characterType" ng-change="editChange()"/>
                                <div class="input-group-btn" dropdown="1">
                                    <button type="button" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                        <li ng-repeat="k in charactertypes" class="input-lg"><a ng-click="e.type = k">{{charactertypes[k]}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" ng-model="e.text" class="form-control col-sm-8" ng-change="editChange()"/>
                        </div>
                        <div class="col-sm-1">
                            <a ng-click="delBtn($index)" class="btn"><i class="fa fa-times"/></a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="form-group" ng-show="vm.exemplars.length">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" ng-class="{btn:1, 'btn-primary':vm.changed, 'btn-default':!vm.changed}" ng-click="editBtn()">Apply</button>
                    <button class="btn btn-default" ng-click="cancelBtn()">Cancel</button>
                </div>
            </div>
          </form>
      </div>
    </div>
    <div class="col-sm-5" style="height:100vh; overflow:auto;">
        <h3>Help</h3>
        <p>Nothing to read here yet</p>
    </div>
</div>
