<div>
  <div class="col-sm-7">
   <div>
    <button class="pull-right" ng-click="addCollation()"><i class="fa fa-plus"></i></button>
    <h2>Collations</h2>
    <ul class="list-unstyled">
        <li><strong><div class="col-sm-3">Type</div><div class="col-sm-1">Default</div></strong></li>
        <div class="clearfix"/>
        <li ng-repeat="c in vm.collations" ng-show="!c.disabled">
            <div class="col-sm-3">{{c.attributes.type}}</div>
            <div class="col-sm-1"><input type="radio" ng-model="vm.def" value="{{c.attributes.type}}" ng-change="editChange()"/></div>
            <div class="col-sm-2">
                <a ng-click="delCollation($index)" class="btn"><i class="fa fa-times"/></a>
                <a ng-click="onEditClick($index)" class="btn"><i class="fa fa-edit"/></a>
            </div>
            <div class="clearfix"/>
        </li>
    </ul>
   </div>
   <div ng-show="vm.mode">
    <tabset>
        <tab heading="ICU">
            <form role="form">
                <div class='form-group'>
                    <textarea ng-model="vm.currentText" class="col-sm-12" rows="10" ng-change="editChange()"/>
                </div>
            </form>
        </tab>
        <tab heading="Simple" ng-show="vm.currentCollation.format=='Simple'">
            <form role="form">
                <div class='form-group'>
                    <textarea ng-model="vm.currentSubText" class="col-sm-12" rows="10" ng-change="simpleChange()"/>
                </div>
            </form>
        </tab>
        <tab heading="PreProcessing" ng-show="vm.currentCollation.format=='PreProcessed'">
            <form role="form">
                <div class='form-group'>
                    <ul class="list-unstyled">
                        <li><strong><div class="col-sm-5">Match</div><div class="col-sm-5">Reorder</div></strong>
                        <div class="col-sm-2"><button ng-click="addRule()"><i class="fa fa-plus"></i></button></div>
                        </li>
                        <li ng-repeat="r in vm.currentCollation.rules">
                            <div class="col-sm-5"><input type='text' ng-model='r.attributes.match' class="form.control col-sm-12" ng-change="editChange()"/></div>
                            <div class="col-sm-5"><input type='text' ng-model='r.attributes.reorder' class="form.control col-sm-12" ng-change="editChange()"/></div>
                            <div class="col-sm-2">
                                <a ng-click="delRule($index)" class="btn"><i class="fa fa-times"/></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </form>
        </tab>
        <tab heading="Processed" ng-show="vm.currentCollation.format=='PreProcessed'">
            <form role="form">
                <div class='form-group'>
                    <textarea ng-model="vm.currentProcText" class="col-sm-12" rows="10" ng-change="editChange()"/>
                </div>
            </form>
        </tab>
    </tabset>
    <form role="form">
        <div class="form-group">
            <button type="submit" ng-class="{btn:1, 'btn-primary':vm.changed, 'btn-default':!vm.changed}" ng-click="saveBtn()">Apply</button>
            <button class="btn btn-default" ng-click="cancelBtn()">Cancel</button>
        </div>
        <div class="form-group">
            <label for="collType">Type:</label>
            <input type="text" ng-model="vm.currentCollation.attributes.type" id="collType" ng-change="editChange()"/>
        </div>
        <div class="form-group">
            <label for="collFormat">Format:</label>
            <select ng-model="vm.currentCollation.format" ng-change="formatChange()">
                <option>ICU</option>
                <option>Simple</option>
                <option>PreProcessed</option>
            </select>
        </div>
        <div class="form-group" ng-show="vm.currentCollation.format!='ICU'">
            <label for="collDirty">Recompile ICU:</label>
            <input type="checkbox" ng-model="vm.currentCollation.dirty" ng-true-value="1" ng-false-value="null" ng-change="editChange()"/>
        </div>
    </form>
   </div>
  </div>
  <div class="col-sm-5" style="height:100vh; overflow:auto;">
   <div>
    <h3>Help</h3>
    <p> Sorry, you are on your own at the moment. Hopefully one day this will give you some help</p>

    <p>Warning. The eor and search collation types come from the root of LDML.
        You should not edit them and so they are not shown.
    </p>
    <p>See <a href="http://www.unicode.org/reports/tr35-collation.html">here</a> for the LDML specification on this topic</p>
   </div>
  </div>
</div>
