<div>
    <button class="pull-right" ng-click="addQuote()"><i class="fa fa-plus"></i></button>
    <h2>Quotations</h2>
    <form role="form">
        <div class="form-group">
            <table>
                <tr><th>Level</th><th>Start</th><th>End</th><th>Continue</th><th>Del</th></tr>
                <tr ng-repeat="q in vm.quotes">
                    <td>{{$index}}</td>
                    <td><input type="text" ng-model="q.start" class="form.control"/></td>
                    <td><input type="text" ng-model="q.end" class="form.control"/></td>
                    <td><input type="text" ng-model="q.continue" class="form.control"/></td>
                    <td><a ng-click="delQuote($index)" class="btn"><i class="fa fa-times"/></a></td>
                </tr>
            </table>
        </div>
    </form>
</div>
