<div>
    <h2>Identity</h2>
    <form role="form">
        <div class="form-group">
            <label for="identityLang" class="col-sm-2 control-label">Language:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="vm.model.language" class="form-control" id="identityLang"/>
            </div>
        </div>
        <div class="form-group">
            <label for="identityScript" class="col-sm-2 control-label">Script:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="vm.model.script" class="form-control" id="identityScript"/>
            </div>
        </div>
        <div class="form-group">
            <label for="identityRegion" class="col-sm-2 control-label">Region:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="vm.model.territory" class="form-control" id="identityRegion"/>
            </div>
        </div>
        <div class="form-group">
            <label for="identityVariant" class="col-sm-2 control-label">Variant:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="vm.model.variant" class="form-control" id="identityVariant"/>
            </div>
        </div>
        <div class="form-group">
            <label for="identityVersion" class="col-sm-2 control-label">Version:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="vm.model.version" class="form-control" id="identityVersion"/>
            </div>
        </div>
        <div class="form-group">
            <label for="identityVersionText" class="col-sm-2 control-label">Version Text:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="vm.model.versionText" class="form-control" id="identityVersionText"/>
            </div>
        </div>
        <div class="form-group">
            <label for="identityGeneration" class="col-sm-2 control-label">Generation:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="vm.model.generation" class="form-control" id="identityGeneration"/>
            </div>
        </div>
        <div class="form-group">
            <label for="identityDefRegion" class="col-sm-2 control-label">Default Region:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="vm.model.defaultRegion" class="form-control" id="identityDefRegion"/>
            </div>
        </div>
        <div class="form-group">
            <label for="identityVarName" class="col-sm-2 control-label">Variant Name:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="vm.model.variantName" class="form-control" id="identityVarName"/>
            </div>
        </div>
        <div class="form-group">
            <label for="identityUsage" class="col-sm-2 control-label">Usage:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="vm.model.usage" class="form-control" id="identityUsage"/>
            </div>
        </div>
        <div class="form-group">
            <label for="identityLCID" class="col-sm-2 control-label">Windows LCID:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="vm.model.windowsLCID" class="form-control" id="identityLCID"/>
            </div>
        </div>
        <div class="form-group">
            <label for="identityRevid" class="col-sm-2 control-label">Revision ID:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="vm.model.revid" class="form-control" id="identityRevid" disabled="1"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click="editBtn('font')">Edit</button>
                <button class="btn btn-default" ng-click="cancelBtn()">Cancel</button>
            </div>
        </div>
    </form>
</div>
