<div>
  <div class="col-sm-7">
   <div>
    <h2>Identity</h2>
    <form role="form">
        <div class="form-group">
            <label for="identityLang" class="col-sm-3 control-label">Language:</label>
            <div class="col-sm-8">
                <input type="text" ng-model="vm.model.language" class="form-control" ng-change="editChange()" id="identityLang"/>
            </div>
            <a class="btn col-sm-1" ng-click="help=(help=='lang' ? '' : 'lang')"><i class="fa fa-info"/></a>
        </div>
        <div ng-show="help=='lang'" class='col-sm-offset-3'>
            The language component of a language tag is either the iso639-2 or iso639-3 language code (depending on which is shorter).
            It is entered as a lower case string.
        </div>
        <div class="form-group">
            <label for="identityScript" class="col-sm-3 control-label">Script:</label>
            <div class="col-sm-8">
                <input type="text" ng-model="vm.model.script" class="form-control" ng-change="editChange()" id="identityScript"/>
            </div>
            <a class="btn col-sm-1" ng-click="help=(help=='script' ? '' : 'script')"><i class="fa fa-info"/></a>
        </div>
        <div ng-show="help=='script'" class='col-sm-offset-3'>
            The script component of a language tag is a 4 letter code with the first letter capitalised and the rest lower case.
            The value is taken from iso15924
        </div>
        <div class="form-group">
            <label for="identityRegion" class="col-sm-3 control-label">Region:</label>
            <div class="col-sm-8">
                <input type="text" ng-model="vm.model.territory" class="form-control" ng-change="editChange()" id="identityRegion"/>
            </div>
            <a class="btn col-sm-1" ng-click="help=(help=='region' ? '' : 'region')"><i class="fa fa-info"/></a>
        </div>
        <div ng-show="help=='region'" class='col-sm-offset-3'>
            The territory component of a language tag is either a 2 letter all caps code from ISO3166 or a 3 digit region code.
        </div>
        <div class="form-group">
            <label for="identityVariant" class="col-sm-3 control-label">Variant:</label>
            <div class="col-sm-9">
                <input type="text" ng-model="vm.model.variant" class="form-control" ng-change="editChange()" id="identityVariant"/>
            </div>
        </div>
        <div class="form-group">
            <label for="identityVersion" class="col-sm-3 control-label">Version:</label>
            <div class="col-sm-9">
                <input type="text" ng-model="vm.model.version" class="form-control" ng-change="editChange()" id="identityVersion"/>
            </div>
        </div>
        <div class="form-group">
            <label for="identityVersionText" class="col-sm-3 control-label">Version Text:</label>
            <div class="col-sm-9">
                <input type="text" ng-model="vm.model.versionText" class="form-control" ng-change="editChange()" id="identityVersionText"/>
            </div>
        </div>
        <div class="form-group">
            <label for="identityGeneration" class="col-sm-3 control-label">Generation:</label>
            <div class="col-sm-9">
                <input type="text" ng-model="vm.model.generation" class="form-control" ng-change="editChange()" id="identityGeneration"/>
            </div>
        </div>
        <div class="form-group">
            <label for="identityDefRegion" class="col-sm-3 control-label">Default Region:</label>
            <div class="col-sm-9">
                <input type="text" ng-model="vm.model.defaultRegion" class="form-control" ng-change="editChange()" id="identityDefRegion"/>
            </div>
        </div>
        <div class="form-group">
            <label for="identityVarName" class="col-sm-3 control-label">Variant Name:</label>
            <div class="col-sm-9">
                <input type="text" ng-model="vm.model.variantName" class="form-control" ng-change="editChange()" id="identityVarName"/>
            </div>
        </div>
        <div class="form-group">
            <label for="identityUsage" class="col-sm-3 control-label">Usage:</label>
            <div class="col-sm-9">
                <input type="text" ng-model="vm.model.usage" class="form-control" ng-change="editChange()" id="identityUsage"/>
            </div>
        </div>
        <div class="form-group">
            <label for="identityLCID" class="col-sm-3 control-label">Windows LCID:</label>
            <div class="col-sm-9">
                <input type="text" ng-model="vm.model.windowsLCID" class="form-control" ng-change="editChange()" id="identityLCID"/>
            </div>
        </div>
        <div class="form-group">
            <label for="identityRevid" class="col-sm-3 control-label">Revision ID:</label>
            <div class="col-sm-9">
                <input type="text" ng-model="vm.model.revid" class="form-control" ng-change="editChange()" id="identityRevid" disabled="1"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" ng-class="{btn:1, 'btn-primary':vm.model.changed, 'btn-default':!vm.model.changed}" ng-click="editBtn('font')">Apply</button>
                <button class="btn btn-default" ng-click="cancelBtn()">Cancel</button>
            </div>
        </div>
    </form>
   </div>
  </div>
  <div class="col-sm-5">
   <div>
    <h3>Help</h3>
    Sorry, you are on your own at the moment. Hopefully one day this will give you some help
   </div>
  </div>
</div>
