<div>
 <tabset>
  <tab heading="Data">
   <div>
    <h2>Identity</h2>
    <form role="form">
        <div class="form-group">
            <label for="identityLang" class="col-sm-2 control-label">Language:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="vm.model.language" class="form-control" ng-change="editChange()" id="identityLang"/>
            </div>
        </div>
        <div class="form-group">
            <label for="identityScript" class="col-sm-2 control-label">Script:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="vm.model.script" class="form-control" ng-change="editChange()" id="identityScript"/>
            </div>
        </div>
        <div class="form-group">
            <label for="identityRegion" class="col-sm-2 control-label">Region:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="vm.model.territory" class="form-control" ng-change="editChange()" id="identityRegion"/>
            </div>
        </div>
        <div class="form-group">
            <label for="identityVariant" class="col-sm-2 control-label">Variant:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="vm.model.variant" class="form-control" ng-change="editChange()" id="identityVariant"/>
            </div>
        </div>
        <div class="form-group">
            <label for="identityVersion" class="col-sm-2 control-label">Version:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="vm.model.version" class="form-control" ng-change="editChange()" id="identityVersion"/>
            </div>
        </div>
        <div class="form-group">
            <label for="identityVersionText" class="col-sm-2 control-label">Version Text:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="vm.model.versionText" class="form-control" ng-change="editChange()" id="identityVersionText"/>
            </div>
        </div>
        <div class="form-group">
            <label for="identityGeneration" class="col-sm-2 control-label">Generation:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="vm.model.generation" class="form-control" ng-change="editChange()" id="identityGeneration"/>
            </div>
        </div>
        <div class="form-group">
            <label for="identityDefRegion" class="col-sm-2 control-label">Default Region:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="vm.model.defaultRegion" class="form-control" ng-change="editChange()" id="identityDefRegion"/>
            </div>
        </div>
        <div class="form-group">
            <label for="identityVarName" class="col-sm-2 control-label">Variant Name:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="vm.model.variantName" class="form-control" ng-change="editChange()" id="identityVarName"/>
            </div>
        </div>
        <div class="form-group">
            <label for="identityUsage" class="col-sm-2 control-label">Usage:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="vm.model.usage" class="form-control" ng-change="editChange()" id="identityUsage"/>
            </div>
        </div>
        <div class="form-group">
            <label for="identityLCID" class="col-sm-2 control-label">Windows LCID:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="vm.model.windowsLCID" class="form-control" ng-change="editChange()" id="identityLCID"/>
            </div>
        </div>
        <div class="form-group">
            <label for="identityRevid" class="col-sm-2 control-label">Revision ID:</label>
            <div class="col-sm-10">
                <input type="text" ng-model="vm.model.revid" class="form-control" ng-change="editChange()" id="identityRevid" disabled="1"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" ng-class="{btn:1, 'btn-primary':vm.model.changed, 'btn-default':!vm.model.changed}" ng-click="editBtn('font')">Save</button>
                <button class="btn btn-default" ng-click="cancelBtn()">Cancel</button>
            </div>
        </div>
    </form>
   </div>
  </tab>
  <tab heading="Help">
   <div>
    <p>The two most important fields on the Identity page are Language and Script.  Please make sure there are values in both these fields.  If the data you're entering is specific to how the language is used in a particular country then please enter a Region code as well.  If not then you might want to set the Default Region to the code for the country where the most users of this language and script reside.</p>
    <p>(Don't worry about the other fields on this page: you're not likely to need them.)</p> 
   </div>
  </tab>
 </tabset>
</div>
