<div>
    <div class="col-sm-7">
        <h2>Load</h2>
        <p>Load from a <b><input type="file" fileread="doFileOpen(aFile)" style="display:none" id="FileOpen"/><a ng-click="onFileOpen()">local file</a></b></p>
        <p>Load from the SIL LDML Server <input type="text" ng-model="openurl"/>
            <button ng-click="onUrlOpen('https://ldml.api.sil.org/')"
                    ng-class="{'btn-default' : downmode==0, 'btn-primary' : downmode==1, 'btn-succes' : downmode==2, 'btn-danger' : downmode==3}">Fetch</button><span ng-show="downmode==3">Failed</span>
        </p>

        <h2>Save</h2>
        <p>Download to a <b><a ng-click="onFileSaveAs()">local file</a></b></p>

        <h2>Help</h2>
        <p>If you want to edit an existing locale then click on the 'local file' link under 'Load' to load it up.  If you're starting from scratch then go straight to the next step.</p>
        <p>The important pages to edit are: identity, characters, miscellaneous and resources.  Add what data you can to those pages.  <b>Click on a 'Save' button wherever you see it to make sure your changes stick.</b></p>
        <p>When you've finished editing come back to this page and click on the 'local file' link under 'Save' to write the updated file to your computer.</p>
        <p>Once you're happy with the saved file (which will be called xxx_Yyyy.xml), please email it to martin_raymond@scriptsource.org.</p>
    </div>
</div>
