<div>
    <div class="col-sm-7">
        <h2>Layout</h2>
        <form>
            <div class="form-group">
                <label class="col-sm-3">Line Direction:</label>
                <div class="col-sm-9">
                    <select ng-model="layout.characters">
                        <option>Left to Right</option>
                        <option>Right to Left</option>
                        <option>Top to Bottom</option>
                        <option>Bottom to Top</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3">Paragraph Order:</label>
                <div class="col-sm-9">
                    <select ng-model="layout.lines">
                        <option>Top to Bottom</option>
                        <option>Bottom to Top</option>
                        <option>Right to Left</option>
                        <option>Left to Right</option>
                    </select>
                </div>
            </div>
        </form>
        <h2>Yes &amp; No</h2>
        <form>
            <div class="form-group">
                <label class="col-sm-2">Yes string:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="posix.yesstr"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2">No string:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="posix.nostr"/>
                </div>
            </div>
    </div>
    <div class="col-sm-5">
        <h3>Help</h3>
        We are way beyond that here!
    </div>
</div>

    
