<div>
    <button class="pull-right"><i class="fa fa-plus"></i></button>
    <h2>Fonts</h2>
    <table class="table">
        <tr><th>name</th><th>types</th><th>urls</th><th>size</th><th/></tr>
        <tr ng-repeat="font in vm.fonts">
            <td>{{font.attributes.name}}</td>
            <td>{{font.attributes.types}}</td>
            <td><ul><li ng-repeat="url in font.children">{{url.text}}</li></ul></td>
            <td>{{font.attributes.size}}</td>
            <td><a href="#" ng-click="deleteFont($index)"><i class="fa fa-times"/></a></td>
        </tr>
    </table>
</div>

