<div>
    <button class="pull-right" ng-click="addFont()"><i class="fa fa-plus"></i></button>
    <h2>Fonts</h2>
    <table class="table table-bordered">
        <tr><th>name</th><th>types</th><th>urls</th><th>size</th><th>Del</th></tr>
        <tr ng-click="onFontClick($index)" ng-repeat="font in vm.fonts">
            <td>{{font.attributes.name}}</td>
            <td>{{font.attributes.types}}</td>
            <td><ul class="list-unstyled"><li ng-repeat="url in font.children">{{url.text}}</li></ul></td>
            <td>{{font.attributes.size}}</td>
            <td><a ng-click="delFont($index)" class="btn"><i class="fa fa-times"/></a></td>
        </tr>
    </table>
</div>
<div>
    <div ng-switch="vm.currentEditor">
        <div ng-switch-when="font" class="bg-pre">
            <form role="form" class="col-sm-8">
                <div class="form-group">
                    <label for="resourceFontName" class="col-sm-2 control-label">Name:</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="vm.currentFont.attributes.name" class="form-control" id="resourceFontName"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="resourceFontTypes" class="col-sm-2 control-label">Types:</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="vm.currentFont.attributes.types" class="form-control" id="resourceFontTypes"/>
                    </div>
                </div>
                <div class="form-group">
                    <div ng-repeat="url in vm.currentFont.urls">
                        <label class="col-sm-2 control-label"><div ng-show="$first">Urls:</div></label>
                        <div class="col-sm-8">
                            <input type="text" ng-model="url.text" class="form-control" id="resourceFontUrl{{$index}}"/>
                        </div>
                        <a ng-click="delFontUrl(url)" class="btn col-sm-1"><i class="fa fa-times"/></a>
                    </div>
                    <button class="col-sm-1" ng-click="addFontUrl()"><i class="fa fa-plus"/></button>
                </div>
                <div class="form-group">
                    <label for="resourceFontSize" class="col-sm-2 control-label">Size:</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="vm.currentFont.attributes.size" class="form-control" id="resourceFontSize"
                            tooltip-placement="right" tooltip="multiplier defaults to 1.0"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="resourceFontTypes" class="col-sm-2 control-label">minVersion:</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="vm.currentFont.attributes.minversion" class="form-control" id="resourceFontTypes"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="resourceFontTypes" class="col-sm-2 control-label">Language:</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="vm.currentFont.attributes.lang" class="form-control" id="resourceFontTypes"
                            tooltip-placement="right" tooltip="Only needed if different from ldml language tag"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="resourceFontTypes" class="col-sm-2 control-label">OTLanguage:</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="vm.currentFont.attributes.otlang" class="form-control" id="resourceFontTypes"
                            tooltip-placement="right" tooltip="Only needed if different from Language"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="resourceFontTypes" class="col-sm-2 control-label">Features:</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="vm.currentFont.attributes.features" class="form-control" id="resourceFontTypes"
                            tooltip-placement="right" tooltip="key=value"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="resourceFontTypes" class="col-sm-2 control-label">Engine:</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="vm.currentFont.attributes.engine" class="form-control" id="resourceFontTypes"
                            tooltip-placement="right" tooltip="Default: gr ot"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="resourceFontTypes" class="col-sm-2 control-label">Subset:</label>
                    <div class="col-sm-10">
                        <input type="text" ng-model="vm.currentFont.attributes.subset" class="form-control" id="resourceFontTypes"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default" ng-click="editFont()">Edit</button>
                        <button class="btn btn-default" ng-click="cancelFont()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
        <div ng-switch-when="kbd">
        </div>
        <div ng-switch-default>
        </div>
    </div>
</div>
