<div>
    <button class="pull-right"><i class="fa fa-plus"></i></button>
    <h2>Fonts</h2>
    <table>
        <th><td>name</td><td>types</td><td>urls</td><td>size</td><td/></th>
        <tr ng-repeat="font in fonts">
            <td>{{font.name}}</td>
            <td>{{font.types}}</td>
            <td><ul><li ng-repeat="url in font.urls">{{url}}</li></ul></td>
            <td>{{font.size}}</td>
            <td><a href="#" ng-click="deleteFont($index)"><i class="fa fa-times"/></a></td>
        </tr>
    </table>
</div>

