<div>
  <div class="col-sm-7">
   <div>
    <button class="pull-right" ng-click="addSegment()"><i class="fa fa-plus"></i></button>
    <h2>Segmentations</h2>
    <accordion>
        <accordion-group ng-repeat="seg in vm.model">
            <accordion-heading>Segmentation: {{seg.type}}</accordion-heading>
            <label for="segmentName{{$index}}">Name:</label>
            <input type="text" ng-model="seg.type" id="segmentName{{$index}}" ng-change="editChange()"/>
            <div ng-repeat="type in types">
                <button class="pull-right" ng-click="addElement(type, seg)"><i class="fa fa-plus"></i></button>
                <h3>{{sublists[type].title}}</h3>
                <ul class="list-unstyled">
                    <li><strong><div class="col-sm-2">ID</div><div class="col-sm-8">value</div><div class="col-sm-2"></div></strong></li>
                    <li ng-repeat="v in seg[type] | orderBy:'sortkey'">
                        <input type="text" ng-model="v.attributes.id" class="form-control col-sm-2" ng-change="editChange()"/>
                        <input type="text" ng-model="v.text" class="form-control col-sm-8" ng-change="editChange()"/>
                        <div class="col-sm-2">
                            <!--<a ng-click="upBtn($index, seg[type])" class="btn" ng-show="$index > 0"><i class="fa fa-caret-up"/></a>
                            <a ng-click="downBtn($index, seg[type])" class="btn" ng-show="$index < seg[type].length - 1"><i class="fa fa-caret-down"/></a> -->
                            <a ng-click="delElement($index, seg[type])" class="btn"><i class="fa fa-times"/></a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" ng-class="{btn:1, 'btn-primary':vm.changed, 'btn-default':!vm.changed}" ng-click="saveBtn()">Apply</button>
                    <button class="btn btn-default" ng-click="cancelBtn()">Cancel</button>
                </div>
            </div>
        </accordion-group>
    </accordion> 
   </div>
  </div>
  <div class="col-sm-5">
   <div>
    <h3>Help</h3>
    Sorry, you are on your own at the moment. Hopefully one day this will give you some help
   </div>
  </div>
</div>
            
